<!DOCTYPE html>
<html>
<head>
	<title>Number Game</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>Welcome to the Great Number Game!</h1>
	<p>I am thinking of a number between 1 and 100</p>

	<p>{{ hint }}</p>
	<form action="">
		{% if win %}
			<p><strong>{{ guess }}</strong> was the number!</p>
			<button type="submit" name="button" value="Play again!" id="button"></button>
			<script type="text/javascript">
				document.getElementById("button").focus();
			</script>
		{% else %}
			<input type="text" name="guess" id="input">
			<buton type="submit" name="button" value="Guess"></button>
			<script type="text/javascript">
				document.getElementById("input").focus();
			</script>
		{% endif %}
	</form>
</body>
</html>