<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div>
		<div class="headerLeft">
			{% if 'user_id' in request.session %}
				<h1>Hello, {{ request.session.user_first_name }}!</h1>
			{% else %}
				<h1>Welcome to Dojo Secrets</h1>
				<p>Log in or register to hear all about it!</p>
			{% endif %}
		</div>
		{% if 'user_id' in request.session %}
			<p class='user'>{{ request.session.user_first_name }} {{ request.session.user_last_name }} ({{ request.session.user_email }}) | <a href="/logout">logout</a></p>
		{% endif %}
	</div>

	{% if messages %}
		<ul class="error">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if 'user_id' in request.session %}
		<div class="login">
			<form action="/secrets" method="POST">
				<textarea name="secret"></textarea>
				<button type="submit">Post</button>
				<a href="/secrets">Most Popular Secrets</a>
				{% csrf_token %}
			</form>
		</div>
	{% endif %}

	{% if 'user_id' in request.session %}
		<div class="wall">
			<h2>
				Recent Secrets...
			</h2>
			{% for secret in secrets %}
				<div class="post">
					{{ secret.secret }} ({{ secret.time_elapsed }} ago...) {{ secret.like_count }} likes
					{% if secret.mine %}
						You posted this <a href="/secrets/{{secret.id}}/delete">Delete</a>
					{% else %}
						<a href="/secrets/{{secret.id}}/like/main">Like</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if not 'user_id' in request.session %}
		<div class="login">
			<form action="/login" method="POST">
				<h2>Login</h2>
				<label>
					Email: <input type="email" name="email">
				</label>
				<label>
					Password: <input type="password" name="pass">
				</label>
				<button type="submit">Log In</button>
				{% csrf_token %}
			</form>
			<div class='verticalBorder'></div>
			<form action="/register" method="POST">
				<h2>Register</h2>
				<label>
					First Name: <input type="text" name="fname">
				</label>
				<label>
					Last Name: <input type="text" name="lname">
				</label>
				<label>
					Email: <input type="email" name="email">
				</label>
				<label>
					Password: <input type="password" name="pass">
				</label>
				<label>
					Confirm password: <input type="password" name="passc">
				</label>
				<button type="submit">Register</button>
				{% csrf_token %}
			</form>
		</div>
	{% endif %}
</body>
</html>