<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Python!</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>忍者!</h1>
	
	曖昧さ回避	「ニンジャ」はこの項目へ転送されています。その他の用法については「ニンジャ (曖昧さ回避)」をご覧ください。

	北斎漫画より

	歌川国芳の浮世絵に描かれた『児雷也豪傑譚』の主人公・児雷也。想像で誇張された忍者の典型
	忍者（にんじゃ）とは、飛鳥時代から江戸時代の日本で、大名や領主に仕え、または独立して諜報活動、破壊活動、浸透戦術、謀術、暗殺などを仕事としていたとされる、個人ないし集団の名称。その名は日本国内にとどまらず、世界的にもよく知られている。
	目次  [非表示] 
	1	概要
	1.1	呼称
	1.2	くノ一について
	2	歴史
	2.1	発祥と変遷
	2.2	大久保忠教の三河物語の記述
	2.3	服部氏伝説
	2.4	徳川幕藩体制下
	2.4.1	忍者イメージの創出
	2.5	明治後の忍者
	2.6	海外での受容
	3	器具・体術
	3.1	忍具
	3.2	忍装束
	3.2.1	黒装束について
	3.2.2	柿渋色やクレ色の装束
	3.2.3	変装
	3.3	忍術
	4	著名な忍者
	4.1	実在した忍者
	4.2	忍者とする説・忍者のイメージを仮託された人物
	4.3	近現代の忍術の伝承者
	5	忍者を主題とした作品・キャラクターなど
	6	忍者をメインとしたテーマパーク
	7	脚注
	8	文献資料
	9	関連項目
	10	脚注
	11	外部リンク
	概要[編集]
	領主に仕えずに戦毎に雇われる傭兵のような存在。伊賀衆甲賀衆のような土豪集団もあれば、乱波透破のようなただのごろつき集団もある。戦には足軽として参加し、夜討ち朝駆けといった奇襲撹乱を得意とした[1]。伊賀甲賀においては荘園時代から悪党がはびこり、それが後世に忍者と呼ばれる伊賀衆甲賀衆になる[2]。
	忍者は上忍、中忍、下忍に身分が分かれているように一部で信じられているが、実際の万川集海の記述は上忍とは「人の知る事なくして、巧者なる」者である。中世にはどの村落も軍事力を備えていたが（江戸時代に武装を必要としない安定を見る（→兵農分離）までは、あらゆる階層が武装していた）、その軍事力は村落の自衛に用いられることもあり、また村落外の勢力に傭兵のように貸す場合もあった。外から連れてきた子供を訓練することもあり[要出典]、伊賀では脱走者（いわゆる抜け忍）は探し出して処罰したと言う[3]が、実際には忍者は想像もつかない忙しさから、一人や二人のためにそこまでする暇がなかったといわれ、放置していたという説もある[4]。
	戦国時代結城氏のように領内で草、夜業の作戦に普段からプロの悪党や忍びが集団で雇われていているところもあれば、合戦前に忍びを募集するところもあった。例えば武蔵松山城主の上田憲定の合戦前の兵募集制札には「夜走、夜盗はいくらでも欲しい」「侠気のある剛健なもの」「前科者、借財ある者みな帳消しにする」とあり、陰徳太平記では「足軽など山賊盗賊でも嫌わず召し集める」とある[5]。後に出世した大名の中で彼らの助力を受けていないものは一人もいないだろう[6]。
	『萬川集海』によると「忍芸はほぼ盗賊の術に近し」とあり、忍術には「陰忍」と「陽忍」があるとされる。陰忍とは、姿を隠して敵地に忍び込み内情を探ったり破壊工作をする方法であり、一般的に想像される忍者とはこの時の姿である。対して陽忍とは、姿を公にさらしつつ計略によって目的を遂げる方法である。いわゆる諜報活動や謀略、離間工作などがこれに当たる。近年の研究では、身体能力に優れ、厳しい規律に律された諜報集団という面の他に、優れた動植物の知識や化学の知識を持つ技術者集団としての一面も持つことが判っている。[要出典]
	呼称[編集]
	戦前は「忍術使い」といった呼称が一般的だったが、戦後は村山知義、白土三平、司馬遼太郎らの作品を通して、「忍者」「忍びの者」「忍び」という呼称が一般化した。江戸時代までは統一名称は無く地方により呼び方が異なり、「乱破（らっぱ）」「素破（すっぱ、“スッパ抜き”という報道における俗語の語源）」「水破（すっぱ）」「出抜（すっぱ）」）「透破（すっぱ、とっぱ）」「突破（とっぱ）」「伺見（うかがみ）」「奪口（だっこう）」「竊盗（しのび）」「草（くさ）」「軒猿」「郷導（きょうどう）」「郷談（きょうだん）」「物見」「間士（かんし）」「聞者役（ききものやく）」「歩き巫女」「屈（かまり）」「早道の者」などがある。[要出典]なお、1600年代にイエズス会が編纂した「日葡辞書」では、「Xinobi(忍び)」と表記されている。忍者の組織を抜けた忍者を「抜け忍」と呼ぶ。
	くノ一について[編集]
	女中や小間使いとして潜入して諜報活動を行っていた女性の忍者も存在した。忍装束を着て映像作品や漫画作品などで活躍するような通俗的な姿は、近代の創作とされる。史実として武田信玄に仕えた歩き巫女の集団が有名。「くのいちの術」と言って女性を使った忍術は存在するがこれとは異なる。 名称については「くノ一（くのいち）」といい、“女”という文字を「く」「ノ」「一」と三文字に解体し呼称するようになった隠語表現を語源とする説明が一般的である。その他陰陽道における房術である「九一ノ道」からきたとする説など、いくつかの説がある。
	詳細は「くノ一」を参照
	歴史[編集]
	発祥と変遷[編集]
	間諜の歴史は、人類の歴史とともに古く遡ることができる。その発祥については日本発祥説の他に、インド発祥説、中国発祥説などもある。『孫子』用間篇を始め、古来、間および諜を説く兵書は多い。飛鳥時代には、聖徳太子が、大伴細人（おおとものほそひと）を「志能備（しのび）」として用いたと伝えられる地域もあるようだが、日本書紀等にそのような記載はない。
	忍者・忍術は、源平時代以後に日本で発祥したものである。忍者、忍術は日本国内各地に分かれ、いくつかの集団を形成していた[要出典]。文献上にその名が見られる忍術流派は71流を数え[要出典]、伝書及び資料の確認される流派は31流とする説がある[要出典]。中でも甲賀や伊賀を本拠としていた忍者集団は有名である。これらの場所には多数の忍者屋敷があり、日々の訓練が行われていたと考えられる[要出典]。甲賀と伊賀は、鎌倉時代にはその領地の大半が荘園で木材の供給地だったため守護や地頭による支配を受けなかったが、戦国時代になり荘園が崩壊すると、地侍が数十の勢力に分かれ群雄割拠した。各地侍が勢力を保つため情報収集戦とゲリラ戦が日夜行われ、「忍術」が自然発生したのではないかと考えられている。
	伊賀・甲賀・雑賀、さらには柳生・根来等の紀伊半島は、天武天皇が壬申の乱の直前に住んでいた場所であり、後醍醐天皇の南朝がおかれるなど、特殊な霊地が多い。
	文献上の初見は1487年の室町幕府将軍足利義尚率いる幕府軍対六角氏・甲賀・伊賀連合軍の戦いといわれる。特に伊賀忍者は、古代、琵琶湖が伊賀国内に存在し、そのため土質が農業向きではなく特殊技能を体得し国外へと移動して忍者集団を形成したものという[要出典]。 天正13年羽柴秀吉によって甲賀の侍衆は改易処分となり甲賀は秀吉の家臣中村一氏の支配となる。これにより甲賀の元侍衆たちは浪人となり没落していく[7]。
	なお、戦国時代には、伊賀・甲賀組や紀州根来衆の他に甲斐武田氏の透破、越後上杉氏の鳶加当他、相模北条氏の風魔党、奥州伊達氏の黒脛巾組、加賀本願寺の修験、伊勢長島、出雲尼子氏の鉢屋一党など各地方諸文献に草等の忍者らしき記載が有る。[要出典]
	大久保忠教の三河物語の記述[編集]
	徳川家康が桶狭間の戦い後に今川氏から独立し、三河国奪還戦争のさなか、蒲郡市にある鵜殿長持の西之郡城（上ノ郷城）を忍で取る、と記載されている。寛文7年（1667年）の近江国甲賀武士が奉行に差し出した書状には、甲賀21家が援軍として駆け付け、夜襲・焼き討ちにより、鵜殿藤太郎の首を討ち取った武功について記載。伊賀ではなく、甲賀であることも注目される。
	服部氏伝説[編集]
	昭和37年（1962年）、伊賀上野の旧家より「上嶋家文書（江戸時代末期の写本）」が発見された。これによると、伊賀国の服部氏族・上嶋元成の三男が申楽（能）役者・観阿弥で、母は楠木正成の姉妹だったという。すなわち、観阿弥は楠木正成の甥だったことになる。根拠は特にないが、偽系図などと呼ばれている。観阿弥の息子・世阿弥も「先祖は服部氏」と自称していた。
	伊賀国では、藤林・百地・服部の上忍三家が他の地侍を支配下に、最終的に合議制を敷いて、戦国大名に支配されない地域を形成していた。外部からの侵略に対しては結束して戦い、織田信長が伊賀国を支配するために送り込んだ築城奉行・滝川雄利を追放、その報復として攻め込んできた織田信雄の軍も彼らは壊滅させている（第一次天正伊賀の乱）。改めて敵の一部を調略してから、信長が大軍を編成し攻め込んできた際に、その他の伊賀国の忍者集団は壊滅的な打撃を受けた（第二次天正伊賀の乱）。百地丹波以下100名が紀州の根来へと落ち延びたと言われる。
	徳川幕藩体制下[編集]
	伊賀衆甲賀衆の一部は本能寺の変の際に、堺（現・大阪府堺市）の見物に訪れていた徳川家康を護衛して伊賀越えを行なったことから、徳川幕府に召抱えられるようになった。（この際、200名程の伊賀衆が仕官したが、1582年から1615年の間に75名が死亡しており、記録によれば危険な城攻めの前線などに投入され戦死した者が多かったという。その過酷な任務に対し、知行は10石程度と薄給であった事もわかっている。[8]）伊賀越以前からの家臣であった服部半蔵は重用され、江戸城の城門の一つにその名が付けられ、現在も東京の地名「半蔵門」として残っている。彼らは、徳川幕府のために諸大名の内情を探るだけでなく、江戸城下の世論調査、大奥の警護、空き家となった諸屋敷の管理なども担当し、同心として江戸城下の治安の警護に当たった。「御庭番」は忍者と同様に思われがちだが、誤りであり八代将軍・徳川吉宗が紀州から連れて来た薬込役を伊賀者と同格に格付けしただけに過ぎず、彼ら御庭番は忍者とはかかわりがない。土地に残った伊賀衆甲賀衆はそのまま百姓身分化した。
	「御庭番」も参照
	徳川家光（家光体制）時、老中（松平信綱・阿部忠秋・堀田正盛）、側衆（中根正盛）は、武断政策を強硬に進めた。その結果、浪人が増え社会問題化し、島原の乱・慶安の変（由井正雪）といった大規模な事件（一揆）が発生する。 島原の乱・慶安の変の際に大目付として老中・諸大名の監察を任とした中根正盛が与力20余騎を諸方に派遣して、その動きを詳細に調べさせた。 また、甲賀忍者の10人が信綱に随行、一揆軍の立てこもった原城内を探索したり兵糧を盗み取るなどしたが、落とし穴に嵌って敵から石打にあい重傷を被ることもあった[9]。 隠密機関の活躍により島原の乱・慶安の変[10] に関して崩壊・一掃させ、武功派で幕閣に批判的であったとされる紀州藩主・徳川頼宣を幕政批判の首謀者とし失脚させた 。
	戦国時代末期の侍衆改易処分で領地を失い没落した甲賀古士は幕府に対して仕官という形での救済を訴願している。この時一緒に提出したのが万川集海である[11]。 江戸時代の諸国を行脚していた俳諧師・松尾芭蕉は、現在の三重県伊賀市に当たる地方の出身者だった。そのため、松尾芭蕉は実は忍者あるいは隠密だったのではないかとする説があり、小説などでも題材に扱われている。その根拠として、芭蕉の著書奥の細道の記録どおりに旅行したとすると、一日数十キロ歩かなくてはいけない計算になり、普通の47歳ならば体力的に相当無理がある、などがあげられる。当時の江戸時代の浮世絵師・葛飾北斎も公儀隠密説が囁かれている。これらの説には決定的な根拠はなく、現状では単なる想像の範疇を出ない。
	江戸時代の探検家・間宮林蔵は、幕府の隠密であり、広義には彼も忍者だと言える。少なくともシーボルト事件において高橋景保を売ったという彼の行動は儒教道徳的観点から非難され、冷酷な忍者ならではの行動であると評された。[要出典]
	マシュー・ペリーの率いる黒船が浦賀沖に来航した際、藤堂藩の無足人沢村甚三郎が調査のために船上パーティーに日本側随員として参加し、パン、タバコ、蝋燭、便箋を持ち帰った[12]。これがいわゆる忍者の活動の最後だった。 維新期になると甲賀古士らは一転して倒幕となり甲賀隊を結成して戊辰戦争に参加するも、忍術書に見られるような術は実戦に何の役にも立たなかった[13]。
	忍者イメージの創出[編集]
	寛政期の甲賀古士らによる訴願により世間に広まった忍者像は、出版文化の高まりとともに独り歩きしてゆく。読本には忍者が好まれ「自来也説話」の自来也、「列戦功記」の飛加藤、「絵本太閤記」の石川五右衛門などが有名[14]。
	明治後の忍者[編集]
	その後明治になり、江戸幕府から明治新政府へ政権が移ると、警察、日本陸軍、日本海軍が創設され、忍者もその役目を終えることになった。活躍できる場を失った彼らはその後、警察関係（警察官）の職業など、新たな職に就いた。
	明治末期～大正年間には立川文庫の作家たちによって、猿飛佐助、霧隠才蔵など忍者ものが創作され人気を博した。
	また、映画の実用化により、特撮技術を用いた忍者ものが創作された。1921年公開の牧野省三監督の映画『豪傑児雷也』は、日本初の特撮映画と言われる。この映画では、現代に至るも創作作品で継承されている、煙とともに消える忍者が描写されるが、これは1902年に世界最初の劇映画として製作された『月世界旅行』の特撮技法をそのまま踏襲したものであり、もちろん史実ではない。
	戦後の1950年代後半より、小説や時代劇、劇画などに忍者が多く取り上げられるようになり、忍者は再び日本人の間で広く認知されるようになった。これらに描かれる忍者は主に使用する忍術の非現実性などから批判を受けることもあるが概ね好評と言え、平成期には『るろうに剣心』、『NARUTO -ナルト-』などの漫画を原作としたアニメ作品が制作され、国内のみならず海外においても人気を集めている。
	海外での受容[編集]
	1918年の『Japan Magazine』に載った伊藤銀月による忍術の記事[1]が海外における忍者について最初の情報とされるが、1964年の『Newsweek』に、忍者の歴史や技の説明や日本での忍者ブームについて触れた記事が掲載され、これが欧米の忍者ブームの濫觴となった[15]。忍者が登場する最初の海外作品は1967年に映画化された『007は二度死ぬ』（小説は1964年）で、現代版忍者の海外での最初のイメージを作った[16]。これ以降、忍者は欧米の大衆文化において「売れるブランド」として小説・映画が多数作られ[15]、1970年には、欧文による最初のものと思われる英語の忍者解説書『見えない暗殺者』が出版された[16]。1970-1980年代には格闘技としての忍術も広まり[15]、忍者トレーニングなど、忍術の実践そのものへの熱意といった日本とは異なる現象もみられる[16]。
	1980年代には米国製ニンジャ映画の大ヒットでアメリカにニンジャブームが巻き起こり、一連の作品に主演したショー・コスギは日本人初の出演料100万ドルハリウッドスターとなった。ほかに、アメコミとして登場し後にアニメ化された『ティーンエイジ・ミュータント・ニンジャ・タートルズ』や、職業として忍者が登場するゲーム『ウィザードリィ』シリーズなど、様々なジャンルに作品が存在し、日本でも放映や発売されたりもしている。ただし「昼間から黒装束でビルの壁面にへばりつく」「武器としてヌンチャク、サイ、トンファーなど忍者の使用していない武器を使用する」「一撃必殺の貴重な手段である手裏剣を大量に乱れ投げする」「火薬やポンプ等の原理なしに魔法のように火柱や水を手や足元から出し隠れる為ではなく攻撃手段として使う火遁や水遁の術」など間違った忍者像も広まっている。前者においてはハリウッドにおけるニンジャ映画のアドバイザーとして招かれた日本人が間違いを指摘したところ、「それじゃニンジャの姿が見えないじゃないか。君はニンジャというものが全く分かっていない」と真顔で言われたというエピソードも関係者の談話として伝わっている[要出典]。
	ハリウッドが描く忍者は反社会的で残酷な殺し屋であり、映画の舞台は現代の欧米で主人公は白人であり、日本の忍者とは異なるものだった[15]。こうした忍者ブームは1987年で終わったが、この欧米産の忍者像が世界に広がり、香港映画、インド映画などでも忍者ブームが生み出された[15][16]。これにより忍者の認知度は上がったが日本との繋がりは薄れた[15]。1990年代以降もハリウッドでは「ブレイド」(1998)、「Ninja」(2009)、「ニンジャ・アサシン」(2009)といった忍者映画が作られているが、それ以前のハリウッド忍者映画の特徴であった白人男性のみをヒーローとしたアクション映画と異なり、黒人や東洋人をもヒーローとして映画に登場させるなどの変化がみられた[17]。しかし、描かれる忍者像はあくまで日本のそれとは異なる空想上のものであり、「忍者ほど世界史においてよく知られ、にもかかわらずひどく誤解されている」ものとなった。2000年代には海外産の忍者映画を観て育った世代によりアフリカでも忍者映画が作られるようになった[16]。それらは、正義のカンフーに対抗する悪の忍者という香港忍者映画の図式を踏襲し、正義のイスラム教vs悪の忍者として描かれている[16]。
	器具・体術[編集]

	忍秘伝の1頁。鍵を壊す方法について記されている。

	万川集海の1頁。家屋に侵入するための最適な時間などについて記されている。
	忍具[編集]
	忍者が用いる武器・道具である。
	手裏剣 - 手投げの刃物。形は棒状のものから十字型、円形のものまである。重くかさ張る為、通常、携帯していた数は1枚から、多くても3～4枚のみだったという。
	くない - 両刃の道具。「苦無」あるいは「苦内」とも表記される。
	忍刀 - 携帯性や機能性向上のために工夫された刀。特徴は当該項を参照。
	鎌 - 鎌は日本の農具で一般的に入手が容易である刃物であり、農民として行動する際に携帯していても不自然ではない刃物である。
	忍び鎌
	鎖鎌
	鉈
	撒菱 - 地面にばら撒いて、それを踏んだ追っ手の足を傷つける武器。植物の種を使用したものは食用が可能だった。
	五色米 - 赤・青・黄・黒・紫の5色に染めた米。食用ではなく、仲間との連絡の暗号に用いた。色つきなので野鳥に食われる恐れがない。
	忍の六具 - 6つの携帯用具。
	編笠 - 顔をやたらに見られないようにする。
	三尺手拭 - 名のとおり、普通の手拭とは異なり長辺は1メートル弱ある。殺菌効果がある植物・蘇芳（すおう）で染色されているため、包帯として使用可能
	鉤縄
	石筆 - 粘土、 蝋石の筆
	薬
	付竹（つけだけ） - 発火用具。
	錣（しころ）- 楕円形のようなのこぎり。
	龕燈（がんどう）- 現代の懐中電灯に似た形状の携帯用の明かり。内部に蝋燭が入っているが、灯心が常に上を向くようなからくりが施されており、振ろうが上下反転させようが火は消えない。
	耆著（きしゃく）- 焼入れし舟形に薄く伸ばして磁化させた鉄片。水に浮かべて方位磁針にする。
	坪錐（つぼきり）- 二股の錐。土壁や土蔵に丸い穴を開ける。錠前抜きにも使用される。
	戸締器（とじめき）- 角張ったS字の金具。障子や襖の間に挟んで、開けられないように細工、逃走や工作の時間稼ぎに使う。
	折りたたみ鑿（おりたたみのみ）- 折りたたむ事が可能で形態性に優れた鑿。
	鑿（さく）- 先端が丸くなった、五寸ほどの細い鉄の棒状の道具。開錠に使用される。
	万力鎖 - 鎖の両側に分銅をつけた護身用の武器。
	鳥の子 - 焔硝（黒煙火薬、若しくは硝酸カリウム）と発煙剤を鳥の子和紙で何重にも包み、卵型に固めた手投げ弾。衝撃を受けると発火発煙する。
	打ち釘 - 木製握りの上部から、逆「し」の字に曲がった鉄製の釘が飛び出したもの。両手に持ち、石垣の隙間に釘を引っ掛けて登る。
	忍び熊手 - 最先端に鉤爪が付いた、複数（5本程度）の竹の管に紐を通した、形状通りの折畳み熊手。片側の紐を引いてテンションを掛ける事で、竹が繋がって長くなる。
	胴火 - 懐炉。銅製の筒に、和紙や植物の繊維を黒焼きにした物を入れておき、火を点ける事で暖を取る。
	水松明 - 通常の松明には用いない火薬を使用する事で、水や雨に濡れても消えないように工夫された松明。雨松明とも呼ばれる。
	鎹（かすがい） - コの字形をした鉄釘。壁や石垣を登ったり、戸を外して侵入したり反対に戸を閉めて継ぎ目に打ち込んで逃走したり（時間稼ぎ）、丸太をつなげて筏を作るなどしたため、常に携帯していた。
	目潰し - 中に唐辛子、灰、薬品等を入れて吹き口から敵の顔面に吹き付けることができるため常に携帯していた。卵の殻に詰めて顔めがけ投げつける手榴弾式の物もあり、こちらは「卵目潰し」と呼ばれた。
	忍び竹 - 壁に床に当てることで敵の話を盗聴したり、就寝中であるかどうかを確かめることに使われた。咳をするときには地面に当てることで音漏れを防いでいた。
	仕込みキセル - キセルの中に短刀を仕込んでいる。日常生活で使われるため怪しまれる恐れもなく改造することで武器としても使用できる。仕込み物として他に団扇もあった。
	仕込み吹き矢 - 通常は横笛として笛を吹いているが、中の紙を回転させることで穴をふさいで針を装着することにより吹き矢となる。針の先端に毒を塗っていた。
	鉄拳
	猫手
	手甲鉤
	角指
	握り鉄砲、忍び鉄砲
	投げ鉄砲
	忍び鉄刀
	忍び鉄鞘大刀
	距跋渉毛
	旋盤
	礫
	足砕
	忍び文字 - 木・火・土・金・水・人・身を偏に、色・青・黄・赤・白・黒・紫を旁に用いて、いろは順に当てはめた造字。通信文書を書く時に使った。暗号なので一般の人には読めない。
	忍装束[編集]
	戦闘用に山着、野良着を改良したもので、前述の通り、闇に紛れるため色は黒ではなく茶色(柿渋色やクレ色)に近いものを着用していたとされる。当然、日中は目立つのでこの格好で動く事はない。「六尺手拭」を覆面に用いる事もあった。
	黒装束について[編集]

	正忍記の1頁。変装の方法が記載されている。
	「全身墨染めの黒装束」「その中には鎖帷子を纏い、顔には墨を塗っている」「背中に忍刀」「夜陰に紛れて敵地に侵入する」という印象で描かれることが多いが、黒は夜に像が浮いて見えることから、紺色もしくは柿の熟したような色の衣装を使用していたとされる。つまり創作(小説など)の装束だと言える。
	柿渋色やクレ色の装束[編集]
	現存する「忍び装束」とされる物も、ほとんどが柿色系統の柿渋色やクレ色である。黒色よりも柿渋色やクレ色の方が安価に製造できたからとする説もある。この衣装は、元々は甲賀地方（現在の滋賀県南東部）や伊賀地方（現在の三重県西部）で使われていた山着、野良着が元とする説がある。そのため着ていて怪しまれる可能性が低いとされる。
	変装[編集]
	本来の潜入工作（スパイ活動）をするには状況に合った服装（町中では町人の格好、屋敷などに侵入する場合には使用人の格好など）、すなわち変装を用いる。特に虚無僧・出家・山伏・商人・放下師（ほうかし、大道芸人、奇術師）・猿楽・常の形（つねのなり、武士や農民）の七つは「七方出の術（七化）」と呼ばれる。また、「専用の」装束などを着用することは稀で、黒装束については、歌舞伎などに登場させる際に黒子のように観客に対して「見えない存在であること」を表現したものが後に、現実にもそのような格好で活動していたと誤認されたとする説もある。戦うよりも逃げることに重点を置いていたため、通常は重い鎖帷子は着用しない。 漫画表現では、鎖帷子を簡略に描いたことから、網シャツのようなものを着たキャラクターデザインに発展した。背中に刀を背負うと動くとき邪魔になるため、通常は普通の武士のように腰に下げるが、床下などに潜むときは狭い所でも動き易くするため、また刀自体を盾代わりとするために背負った。[要出典]
	忍術[編集]
	忍術とは忍者が用いる術であるが、現存する忍術書は全て江戸期以降のものである。フィクションにおける架空の術は忍法を参照のこと。
	五車の術
	相手と会話の中で心理を突く話術である。
	喜車の術 - 相手をおだてて隙を狙う。
	怒車の術 - 相手を怒らせ冷静さを失わせる。
	哀車の術 - 相手の同情を誘う。
	楽車の術 - 相手を羨ましがらせて戦意を喪失させる。あわよくば相手を味方に引き込める。
	恐車の術 - 迷信などを利用し相手の恐怖心につけこみ戦意を喪失させる。
	遁術
	敵から逃走する際に、敵を足止めする術である。火遁、水遁、土遁、木遁、金遁の五つを特に五遁という。
	火遁の術 - 引火物などを利用し煙幕や炎上を発生させる。
	水遁の術 - 水音を立てて相手の注意をそらす。水蜘蛛と呼ばれる道具の上に草をもり、筒のような棒状の中がくり抜かれている物を利用し長時間水中に潜む。池や堀の両端に縄をつないでその上を移動したり、水上に厚手の布を敷き、その上を走って移動する。向こう側に着いた時には、後を残さない。
	土遁の術 - 土や石を相手の顔に投げつけ、怯んだ隙に逃げる。暗闇を逃走中、急に地面に這いつくばり、あたかも消えたかのように追手をまく。
	木遁の術 - 草木を利用し隠れたり、材木などの木材を崩してバラまく事で追手を眩ます。
	金遁の術 - 銭を撒いて逃げる。敵同士で奪い合っているようなら成功と言える。
	天唾の術
	獅子身中の術
	著名な忍者[編集]
	Question book-4.svg	この節は検証可能な参考文献や出典が全く示されていないか、不十分です。出典を追加して記事の信頼性向上にご協力ください。（2007年3月）
	実在した忍者[編集]
	実在した人物でも、実体の部分と虚像の部分の両面がある。
	藤原千方 - 平安時代
	伊賀崎道順 - 戦国時代 伊賀者。
	出浦盛清 - 戦国時代、真田十勇士の霧隠才蔵のモデルとなった実在の人物。
	唐沢玄蕃 - 戦国時代 「飛び六法」と称される
	上月佐助（下柘植ノ木猿） - 真田十勇士の猿飛佐助のモデルとなった人物。
	横谷庄八郎 - 真田氏の配下横谷左近の弟。こちらも真田十勇士猿飛佐助のモデルと言われる。
	霧隠鹿右衛門 - 真田十勇士の霧隠才蔵のモデルとなった人物。
	鹿折信濃 - 戦国時代 黒脛巾組
	加藤段蔵（飛び加藤あるいは鳶加藤とも）戦国時代
	竹永隼人兼次 - 戦国時代、奥州の人。
	高坂甚内 - 戦国時代 透破 甲州流。鳶沢甚内（古着商の元締）、庄司甚内（遊郭の元締）と共に「三甚内」と呼ばれる。
	服部半蔵保長 - 戦国時代 伊賀者 服部半蔵の初代。
	服部半蔵正成 - 服部半蔵保長の子。2代目服部半蔵。徳川家の旗本。厳密には忍者ではなく、伊賀忍者を管轄下においていた。
	服部半蔵正重 - 服部半蔵正成の次男。長安事件に連座して失脚した。後に桑名藩主・松平定綱（定勝の子）に召し抱えられて、桑名藩で服部半蔵家は存続する。
	風魔小太郎 - 戦国時代 北条家に仕えた。風魔党。
	藤林長門守 - 戦国時代 伊賀の三大上忍の1人
	百地丹波 - 戦国時代 ?-1581 架空の人物である百地三太夫のモデルとなった実在人物。
	鉢屋弥之三郎 - 戦国時代 鉢屋衆 尼子家に仕える。
	青山虎之助 - 甲賀流忍者。徳川家康に仕えた。
	忍者とする説・忍者のイメージを仮託された人物[編集]
	天武天皇 - 天文遁甲に通じていたことを根拠に豊田有恒が忍者説を唱えた。通常、この「天文遁甲」は忍術ではなく占術のことと解釈されている。
	杉谷善住坊 - 織田信長を狙撃して失敗した根来衆。
	果心居士 - 戦国時代 幻術師
	山本勘助（菅助） - 甲斐武田氏の足軽大将・伝説的軍師。勘助を忍者とする記録は見られないが、近代には新田次郎の歴史小説『武田信玄』で忍者として描かれた。
	石川五右衛門 - 安土桃山時代の盗賊。古典芸能から映画まで忍術使いとして描かれた作品多数。
	松尾芭蕉 - 伊賀出身の俳諧師だが伊賀忍者説あり。
	間宮林蔵 - 薩摩藩の鹿児島城に潜入して城中の蘇鉄に名前を刻んだ偉業で知られる公儀隠密。伊能忠敬の弟子でもあり、ロシアの南下に際し幕府の命を受け、樺太の調査を行う。今でも日本の地図には、樺太とシベリヤの海峡に間宮海峡として名を残している。
	柳生宗矩（柳生但馬守） - 徳川幕府初代大目付。剣豪であり二代秀忠らのボディーガード、さらには徳川家指南役を務めた柳生石舟斎の子。二代将軍・徳川秀忠、三代将軍・徳川家光の信頼が厚く、1636年に一万石に加増され、大名となる。多くの映画・ドラマにより、忍者の総元締めとして認知されるようになった。
	中根正盛（中根壱岐守） - 公儀隠密の元締。二代将軍・徳川秀忠に仕え、大番・小納戸を経て三代将軍・徳川家光の側衆、四代将軍・徳川家綱時代に大目付となり、配下の廻国者で組織している隠密機関を幕閣という政府組織の一角に機関として組織化した。
</body>
</html>